<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>UserList</title>
</head>
<body>


<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--    <a class="navbar-brand" href="#"><b th:utext="${adminList.getEmail()}"></b></a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"-->
<!--            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarText">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="#">User with roles:-->
<!--                    <span th:each="role : ${adminList.getRole()}">-->
<!--                    <span th:if="${role.toString() == 'ROLE_USER'}">USER</span>-->
<!--                    <span th:if="${role.toString() == 'ROLE_ADMIN'}">ADMIN</span>-->
<!--                </span>-->
<!--                    <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <span class="navbar-text">-->
<!--      <a class="nav-link text-muted" href="/logout"><small>Logout</small></a>-->
<!--    </span>-->
<!--    </div>-->
<!--</nav>-->

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1"><b th:utext="${adminList.getEmail()}"></b>
    <a>User with roles:
        <span th:each="role : ${adminList.getRole()}">
                    <span th:if="${role.toString() == 'ROLE_USER'}">USER</span>
                    <span th:if="${role.toString() == 'ROLE_ADMIN'}">ADMIN</span>
                </span></span>
        <span class="sr-only">(current)</span></a>
    <a class="nav-link text-muted" href="/logout"><small>Logout</small></a>
</nav>


<div class="row">
    <div class="col-lg-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>

    <div class="col-lg-10 bg-light">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div align="center">
                    <h3 align="left" class="active">Admin panel</h3>
                    <table class="table table-striped bg-white">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="v-pills-home2-tab" data-toggle="pill"
                                   href="#v-pills-home" role="tab"
                                   aria-controls="v-pills-create" aria-selected="true">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="v-pills-create-tab" data-toggle="pill" href="#v-pills-create"
                                   role="tab"
                                   aria-controls="v-pills-create" aria-selected="false">New User</a>
                                <!--                                <a class="nav-link" href="create">New User</a>-->
                            </li>
                        </ul>

                        <div class="bg-white">
                            <tr><p></p></tr>
                            <tr><p align="left" class="font-weight-bold">All users</p></tr>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>E-mail</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <tr th:each="user : ${userList}">
                                <td th:utext="${user.id}"></td>
                                <td th:utext="${user.firstName}"></td>
                                <td th:utext="${user.lastName}"></td>
                                <td th:utext="${user.age}"></td>
                                <td th:utext="${user.email}"></td>
                                <td class="text-nowrap">
                <span th:each="role : ${user.role}">
                    <span th:if="${role.toString() == 'ROLE_USER'}">USER</span>
                    <span th:if="${role.toString() == 'ROLE_ADMIN'}">ADMIN</span>
                </span>
                                </td>
                                <td>
                                    <form action="update" method="post">
                                        <button class="btn btn-info" th:name="id" th:value="${user.id}">
                                            Edit
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form action="delete" method="post">
                                        <button class="btn btn-danger" th:name="id" th:value="${user.id}">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                        </div>
                        </tr>
                    </table>
                </div>
            </div>
            <!--user-->
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div align="center">
                    <h3 align="left" class="active">User information-page</h3>
                    <table class="table table-striped">

                        <tr><p align="left" class="font-weight-bold">About user</p></tr>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>E-mail</th>
                            <th>Role</th>
                        </tr>
                        <tr>
                            <td th:utext="${adminList.getId()}"></td>
                            <td th:utext="${adminList.getFirstName()}"></td>
                            <td th:utext="${adminList.getLastName()}"></td>
                            <td th:utext="${adminList.getAge()}"></td>
                            <td th:utext="${adminList.getEmail()}"></td>
                            <td class="text-nowrap">
                <span th:each="role : ${adminList.getRole()}">
                    <span th:if="${role.toString() == 'ROLE_USER'}">USER</span>
                    <span th:if="${role.toString() == 'ROLE_ADMIN'}">ADMIN</span>
                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--user-->
            <!--            new user-->
            <div class="tab-pane fade" id="v-pills-create" role="tabpanel" aria-labelledby="v-pills-create-tab">
                <div align="center">
                    <h3 align="left" class="active">Admin panel</h3>
                    <table class="table table-striped bg-white">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" id="v-pills-home3-tab" data-toggle="pill"
                                   href="#v-pills-home" role="tab"
                                   aria-controls="v-pills-create" aria-selected="true">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="v-pills-create-tab" data-toggle="pill"
                                   href="#v-pills-create"
                                   role="tab"
                                   aria-controls="v-pills-create" aria-selected="false">New User</a>
                            </li>
                        </ul>

                        <div class="container bg-white">
                            <tr><p></p></tr>
                            <tr><p align="left" class="font-weight-bold">Add new user</p></tr>
                            <div class="container bg-white">
                                <form action="createUser" method="post">
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <div align="center" class="form-group">
                                                <label class="font-weight-bold" for="firstName">FirstName</label>
                                                <input type="firstName" class="form-control" id="firstName" th:name="firstName" th:id="firstName"/>
                                            </div>
                                            <div align="center" class="form-group">
                                                <label class="font-weight-bold" for="lastName">LastName</label>
                                                <input type="lastName" class="form-control" id="lastName" th:name="lastName" th:id="lastName"/>
                                            </div>
                                            <div align="center" class="form-group">
                                                <label class="font-weight-bold" for="age">Age</label>
                                                <input type="age" class="form-control" id="age" th:name="age" th:id="age"/>
                                            </div>
                                            <div align="center" class="form-group">
                                                <label class="font-weight-bold" for="email">E-mail</label>
                                                <input type="email" class="form-control" id="email" th:name="email" th:id="email"/>
                                            </div>
                                            <div align="center" class="form-group">
                                                <label class="font-weight-bold" for="password">Password</label>
                                                <input type="password" class="form-control" id="password" th:name="password" th:id="password"/>
                                            </div>
                                            <div align="center" class="form-group">
                                                <button formmethod="post" onclick="location.href='createUser'"  class="btn btn-success">
                                                    Add new user
                                                </button>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <table>-->
<!--                                        <tr>-->
<!--                                            <th>First Name:</th>-->
<!--                                            <td>-->
<!--                                                <input size="45" type="text" th:name="firstName" th:id="firstName"/>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>Last Name:</th>-->
<!--                                            <td>-->
<!--                                                <input size="45" type="text" th:name="lastName" th:id="lastName"/>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>Age:</th>-->
<!--                                            <td>-->
<!--                                                <input size="45" type="text" th:name="age" th:id="age"/>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>Email:</th>-->
<!--                                            <td>-->
<!--                                                <input size="45" type="text" th:name="email" th:id="email"/>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th> Password:</th>-->
<!--                                            <td>-->
<!--                                                <input size="45" type="text" th:name="password" th:id="password"/>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td colspan="2" align="center">-->
<!--                                                <button formmethod="post" onclick="location.href='createUser'"  class="btn btn-success">Add new-->
<!--                                                    user-->
<!--                                                </button>-->

<!--                                                <form action="update" method="post">-->
<!--                                                    <button class="btn btn-success" th:name="id" th:value="${user.id}">-->
<!--                                                        Edit-->
<!--                                                    </button>-->
<!--                                                </form>-->
                                            </td>
                                        </tr>
<!--                                    </table>-->
                                </form>
                            </div>
                        </div>

                    </table>
                </div>
            </div>


        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>