<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
</head>
<body>
<div align="center">
        <form action="/admin/createUser" method="post">
            <table>
                <caption>
                    <h2>
                            Add New User
                    </h2>
                </caption>
                <tr>
                    <th>User Name:</th>
                    <td>
                        <input size="45" type="text"  th:name="viewName" th:id="viewName"/>
                    </td>
                </tr><tr>
                    <th>User Login:</th>
                    <td>
                        <input size="45" type="text"  th:name="login" th:id="login"/>
                    </td>
                </tr><tr>
                    <th>User Password:</th>
                    <td>
                        <input size="45" type="text"  th:name="password" th:id="password"/>
                    </td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>
                        <input size="45" type="text"  th:name="email" th:id="email"/>
                    </td>
                </tr>
                <tr>
                    <th> Age:</th>
                    <td>
                        <input size="45" type="text"  th:name="age" th:id="age"/>
                    </td>
                </tr>
                <tr>
                    <th> Role:</th>
                    <td>
                        <select multiple size="2"  name="rolesIds" th:value="*{rolesIds}">
                                <option selected value=0>ROLE_USER</option>
                                <option value=1>ROLE_ADMIN</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button formmethod="post" onclick="location.href='/admin/createUser'" ;>Save User</button>
                    </td>
                </tr>
            </table>
        </form>
</div>
<hr>
<div align="center">
    <table>
        <caption><h2>Admin Actions</h2></caption>
        <tr>
            <th align="left">
                <form action="/admin" method="get">
                    <button name="" value="">List All Users</button>
                </form>
            </th>
            <th align="left">
                <form action="/admin/create" method="post">
                    <button name="" value="">Add New User</button>
                </form>
            </th>
            <th align="left">
                <form action="/logout" method="post">
                    <button name="" value="">Logout</button>
                </form>
            </th>
        </tr>
    </table>
</div>
</body>
</html>
