<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>UserList</title>
</head>
<body>

<!--<label class="my-0" for="emailEdit"><b>Email</b></label>-->
<!--<div class="form-group">-->
<!--    <input type="email" class="form-control form-control-sm"-->
<!--           id="emailEdit" th:value="${user.getEmail()}"-->
<!--           name="email" placeholder="e-mail">-->
<!--</div>-->
<!--<label class="my-0" for="emailEdit"><b>Email</b></label>-->
<!--<div class="form-group">-->
<!--    <input type="email" class="form-control form-control-sm"-->
<!--           id="emailEdit" th:value="${user.getEmail()}"-->
<!--           name="email" placeholder="e-mail">-->
<!--</div>-->
<div row>
    <div col-lg-4>
        <p></p>
<div class="container col-lg-4">
    <p></p>
    <form action="login" method="post">
        <table>
                <h4><b>
                    Please sign in
                </b></h4>
            <tr>
                <td>
                    <div class="form-group">
<!--                    <input type="text" name="j_username" size="45"/>-->
                        <input type="email" class="form-control form-control-sm my-0 "
                               id="emailEdit" name="j_username" size="45" placeholder="Email address">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
<!--                    <input type="text" name="j_password" size="45"/>-->
                        <input type="password"
                               class="form-control form-control-sm my-0"
                               id="passwordEdit"
                               name="j_password" size="45"
                               placeholder="Password">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
<!--                    <button  onclick="location.href='login'" ;>Sign in</button>-->
                    <button type="Submit" size="45" name="submit" class="btn btn-primary" onclick="location.href='login'">
                        Sign in
                    </button>


                </td>
            </tr>
        </table>
    </form>
</div></div></div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>