<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
</head>
<body>
<div align="center">
    <form action="updateUser" method="post" th:object="${user}">
            <table>
                <caption>
                    <h2>
                            Edit User
                    </h2>
                </caption>
                <input type="hidden" th:value="${user.getId()}" th:field="*{id}" />
                <tr>
                    <th>User Name:</th>
                    <td>
                        <input type="text" id="viewName" th:value="${user.getViewName()}" th:field="*{viewName}"/>
                    </td>
                </tr>
                <tr>
                    <th>User Login:</th>
                    <td>
                        <input type="text" id="login" th:value="${user.getLogin()}" th:field="*{login}"/>
                    </td>
                </tr>
                <tr>
                    <th>User Password:</th>
                    <td>
                        <input type="text" id="password" th:value="${user.getPassword()}" th:field="*{password}"/>
                    </td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>
                        <input type="text" id="email" th:value="${user.getEmail()}" th:field="*{email}"/>
                    </td>
                </tr>
                <tr>
                    <th> Age:</th>
                    <td>
                        <input type="text" id="age" th:value="${user.getAge()}" th:field="*{age}"/>
                    </td>
                </tr>
                <tr>
                    <th>Role:</th>
                    <td>
                        <select th:field="*{role}" multiple>
                            <option th:each="role : ${rolesuser}"
                                    th:value="${role}"
                                    th:text="${role}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button onclick="location.href='updateUser'" ;>Save User</button>
                    </td>
                </tr>
            </table>
        </form>
</div>
<hr>
<div align="center">
    <table>
        <caption><h2>Admin Actions</h2></caption>
        <tr>
            <th align="left">
                <form action="admin" method="get">
                    <button>List All Users</button>
                </form>
            </th>
            <th align="left">
                <form action="create" method="post">
                    <button>Add New User</button>
                </form>
            </th>
            <th align="left">
                <form action="logout" method="post">
                    <button>Logout</button>
                </form>
            </th>
        </tr>
    </table>
</div>
</body>
</html>
